<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>These are the things I learned </h1>
	<%= thingsLearnedArray.map((currentItem, currentIndex)=>{%>
		<p><%=currentItem%></p>
	<%})%>
</body>
</html>