<!DOCTYPE html>
<html>
<head>
	<title>Fourth Site</title>
	<!-- jQuery -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<h1>This is the name page</h1>
	<div class="container">
		<div class="row">
			<form class="form-inline" action="/searchName" method="post">
				<div class="form-group">
					<label>Enter Name</label>
					<input id="name-search" type="text" placeholder="Insert Name Here" name="nameSearch">
					<input type="submit" class="btn btn-primary" type="submit" name="" value="Search!">
				</div>
			</form>
			
		</div>
	</div>
</body>
</html>
